@font-face {
  font-family: megatron;
  src: url(../fonts/Megatron.otf) format("opentype"); }

body {
  color: #ccc;
  background: #333; }

h1, h2, h3 {
  text-align: center; }

.maps-youtube-vid {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }
  .maps-youtube-vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }

.site-header {
  background-image: url(img/background-rectangle-149x28-blue-tr.png), url(img/background-pions.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 149px 28px,cover;
  background-position: bottom right,center;
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .site-header {
      background-image: url(img/background-header-bottom.png), url(img/background-pions.png);
      background-repeat: no-repeat, no-repeat;
      background-size: contain,cover;
      background-position: bottom left,center;
      padding-bottom: 60px; } }
  .site-header .header-img {
    background-image: url(img/background-rectangle-96x18-darkblue-tl.png);
    background-repeat: no-repeat;
    background-size: 96px 18px;
    background-position: top left;
    padding-top: 40px;
    margin-bottom: 20px;
    text-align: center; }
    @media (min-width: 768px) {
      .site-header .header-img {
        background-image: url(img/nav-left.png);
        background-repeat: no-repeat;
        background-size: 55px 50px;
        background-position: top right; } }
  .site-header .header-slogan {
    text-transform: uppercase;
    text-align: center; }
    .site-header .header-slogan h2 {
      color: #fff;
      font-size: 20px; }
      @media (min-width: 768px) {
        .site-header .header-slogan h2 {
          font-size: 4em;
          margin-top: -65px;
          margin-bottom: 45px; } }
  .site-header nav {
    font: 1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #186f74;
    padding-top: 15px;
    padding-bottom: 10px; }
    .site-header nav ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: table;
      width: 100%; }
      .site-header nav ul li {
        display: table-cell; }
        .site-header nav ul li a {
          color: #fff; }
        .site-header nav ul li:first-child {
          text-align: left; }
        .site-header nav ul li:nth-child(2) {
          text-align: center; }
        .site-header nav ul li:last-child {
          text-align: right; }

.content-video {
  background: #37bbcd;
  padding-top: 20px;
  margin-top: -1px;
  margin-bottom: -1px;
  font-family: megatron;
  padding-bottom: 20px; }
  .content-video h3 {
    font-size: 18px;
    color: #333; }
    .content-video h3:first-child {
      color: #fff; }
    @media (min-width: 768px) {
      .content-video h3 {
        text-align: left;
        font-size: 30px; }
        .content-video h3:first-child {
          max-width: 385px;
          margin-top: 0; }
        .content-video h3:last-child {
          margin-top: 60px;
          max-width: 600px; } }

.how-to {
  padding-top: 40px;
  font-family: megatron;
  background-image: url(img/background-rectangle-149x28-blue-tl.png), url(img/background-rectangle-149x28-black-br.png), url(img/bg-white.png);
  background-repeat: no-repeat,no-repeat, repeat;
  background-size: 149px 28px,149px 28px,cover;
  background-position: top left,bottom right,center;
  color: #333;
  padding-bottom: 28px; }
  .how-to p span {
    color: #fff; }
  .how-to p:nth-child(2) {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .how-to .illustrations img {
    max-width: 100%;
    margin: 20px 0; }

.where {
  background: #333;
  color: #fff; }
  .where h2 {
    font-family: megatron; }
  .where p {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px; }
  .where .maps-youtube-vid {
    margin-top: 20px; }

.site-footer {
  font-family: megatron;
  background: #333; }
  .site-footer p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px; }
  .site-footer img {
    width: 100%; }
  .site-footer [alt^="facebook"] {
    margin-top: 10px; }
  .site-footer [alt^="mei"] {
    margin-top: 10px;
    margin-bottom: 20px; }
